<% @products.each do |product| %>
	<div class="col-lg-2">
		<h1><%= link_to product.name, product %></h1>
		<%= product.description %>
		<strong><%= product.state %></strong>
		<ul><li><%= link_to "Eliminar", product, method: :delete, class:"del" %></li></ul>
	</div>
<%end%>

